<div class="home-intro">
    <div class="jumbo">{{site.heading}} </div>
    <div class="home-sub-text">
        <a href="https://github.com/tryptech" target="_blank">GitHub</a>
        <a href="https://youtube.com/@tryptech" target="_blank">YouTube</a>
        <a href="https://twitch.tv/tryptech" target="_blank">Twitch</a>
        <a href="https://steamcommunity.com/id/tryptech/" target="_blank">Steam</a>
        <a href="https://www.last.fm/user/tryptech" target="_blank">Last.FM</a>
</div> </div>

