<div class="home-intro">
	<div class="jumbo">guy doing things</div>
	<div class="home-sub-text socials">
		<a href="https://github.com/tryptech" target="_blank"><i class="fa-brands fa-github"></i></a>
		<a href="https://twitter.com/yo_tryptech" target="_blank"><i class="fa-brands fa-twitter"></i></a>
		<a href="https://bsky.app/profile/tryp.tech" target="_blank"><i class="fa-brands fa-bluesky"></i></a>
		<a href="https://youtube.com/@tryptech" target="_blank"><i class="fa-brands fa-youtube"></i></a>
		<a href="https://twitch.tv/tryptech" target="_blank"><i class="fa-brands fa-twitch"></i></a>
		<a href="https://steamcommunity.com/id/tryptech/" target="_blank"><i class="fa-brands fa-steam"></i></a>
		<a href="https://www.last.fm/user/tryptech" target="_blank"><i class="fa-brands fa-lastfm"></i></a>
	</div>
	<script type="module" src="https://cdn.jsdelivr.net/npm/bsky-embed/dist/bsky-embed.es.js" async></script>
	<bsky-embed
		username="tryp.tech"
		mode=""
		limit="5"
	>
	</bsky-embed>
</div>

